# macOS
.DS_Store
.AppleDouble
.LSOverride

# macOS metadata
._*
.Spotlight-V100
.Trashes

# Editor
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg

# Jupyter
.ipynb_checkpoints/